/* Style inputs with type="text", type="email"and textareas */
input[type=text], input[type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 2px solid #ffffff; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #453985;
}

/* toolbox page */
#toolbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
}